# Segurtasun headerak gehitzea
<IfModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options DENY
    Header set Referrer-Policy "strict-origin-when-cross-origin"
    Header set Strict-Transport-Security "max-age=31536000; includeSubDomains"
</IfModule>

Options -Indexes

<FilesMatch "\.(env|config|sql)$">
    Require all denied
</FilesMatch>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !\.(ico|css|js|png|jpg|gif|woff|woff2|ttf|eot|svg)$ [NC]
    RewriteRule ^(.*)$ /router.php [L]
</IfModule>