version: "3.9"

services:
  traefik:
    image: traefik:v3.1
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
      - --entrypoints.websecure.http.tls=true
      - --entrypoints.websecure.http.tls.certificates[0].certFile=/certs/server.crt
      - --entrypoints.websecure.http.tls.certificates[0].keyFile=/certs/server.key
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./certs:/certs:ro
    networks:
      - traefik-net
    restart: always

  web:
    build: .
    labels:
      - traefik.enable=true
      - traefik.http.routers.app.rule=Host(`igai.lan`)
      - traefik.http.routers.app.entrypoints=websecure
      - traefik.http.services.app.loadbalancer.server.port=80
      # HTTP -> HTTPS redirect
      - traefik.http.routers.app-http.rule=Host(`igai.lan`)
      - traefik.http.routers.app-http.entrypoints=web
      - traefik.http.routers.app-http.middlewares=redirectscheme
      - traefik.http.middlewares.redirectscheme.redirectscheme.scheme=https
    networks:
      - traefik-net
    restart: always

networks:
  traefik-net:
    driver: bridge