version: "3.9"

services:
  web:
    build: .
    volumes:
      - .:/var/www/html
    ports:
      - "80:80"
    restart: always

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: xabala_db
      MYSQL_USER: xabala_user
      MYSQL_PASSWORD: xabala_pass
    volumes:
      - ./xabala.sql:/docker-entrypoint-initdb.d/init.sql:ro
    restart: always