version: "3.9"

services:
  traefik:
    image: traefik:v3.1
    command:
      - --providers.docker=true
      - --providers.docker.exposedbydefault=false
      - --providers.file.filename=/etc/traefik/traefik.yml
      - --entrypoints.web.address=:80
      - --entrypoints.websecure.address=:443
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik.yml:/etc/traefik/traefik.yml:ro
      - ./certs:/certs:ro
    networks:
      - traefik-net
    restart: always

  web:
    build: .
    labels:
      - traefik.enable=true
      - traefik.http.routers.app.rule=Host(`app.lan.local`)
      - traefik.http.routers.app.entrypoints=websecure
      - traefik.http.services.app.loadbalancer.server.port=80
      - traefik.http.routers.app-http.rule=Host(`app.lan.local`)
      - traefik.http.routers.app-http.entrypoints=web
      - traefik.http.routers.app-http.middlewares=redirectscheme
      - traefik.http.middlewares.redirectscheme.redirectscheme.scheme=https
      - traefik.docker.network=zabala_traefik-net    # use your actual network name
    networks:
      - traefik-net
    volumes:
      - .:/var/www/html
    restart: always

networks:
  traefik-net:
    driver: bridge