entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false
  file:
    filename: /etc/traefik/traefik.yml
    watch: true

tls:
  certificates:
    - certFile: /certs/server.crt
      keyFile: /certs/server.key